{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/festivalForm.html.twig' %}

{# Titulo de nuestra aplicacion #}
{% block title %}
Nuevo Estilo!
{% endblock %}

{# Contenido de nuestra aplicacion #}
{% block body %}
<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Nuevo Estilo</h1>

  <div class="row">
    <div class="col-md-8">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{asset('js/nuevaImgFestival.js')}}">

</script>

{% endblock %}
