{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}

{# Titulo de nuestra aplicacion #}
{% block title %}
Pagina festivales!
{% endblock %}

{# Contenido de nuestra aplicacion #}
{% block body %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">RoundRock
      <small>Festivales</small>
    </h1>


    <!-- Content Row -->
        <div class="row">
          <!-- Map Column -->
          <div class="col-lg-8 mb-4">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.343674874746!2d0.18151781567223885!3d38.778755061533325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129e0fa7b3071c3d%3A0xc92d3bea54df643c!2sMontgoRock!5e0!3m2!1ses!2ses!4v1542457458810" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <!-- Contact Details Column -->
          <div class="col-lg-4 mb-4">
            <h3>Detalles</h3>
            <p>
              Montgorock Xàbia Festival
              <br>recinto ”La Fontana”
              <br>
            </p>
            <p>
              <abbr title="Instagram">Instagram</abbr>: https://www.instagram.com/montgorock/
            </p>
            <p>
              <abbr title="Horario">Fecha de celebración</abbr>: 10 y 11 de mayo en Xàbia (Alicante)
            </p>
          </div>
        </div>
        <!-- /.row -->
</div>
{% endblock %}
