{# Plantilla de nuestra aplicacion #}
{% extends 'base.html.twig' %}

{# Titulo de nuestra aplicacion #}
{% block title %}
Nosotros!
{% endblock %}

{# Contenido de nuestra aplicacion #}
{% block body %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">RoundRock
    <small>Equipo</small>
  </h1>

  <!-- Image Header -->
<img class="img-fluid rounded mb-4" src="{{ asset('img/nosotros.jpg') }}" alt="">

<!-- Team Members -->
<h2>Nuestro equipo</h2>
<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="{{ asset('img/hombre.jpg') }}" alt="">
      <div class="card-body">
        <h4 class="card-title">Norman Virgil Osborn</h4>
        <h6 class="card-subtitle mb-2 text-muted">Administrador</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">name@example.com</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="{{ asset('img/mujer.jpg') }}" alt="">
      <div class="card-body">
        <h4 class="card-title"> Irena Dubrovna</h4>
        <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">name@example.com</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="{{ asset('img/mujer2.jpg') }}" alt="">
      <div class="card-body">
        <h4 class="card-title">Jean Grey</h4>
        <h6 class="card-subtitle mb-2 text-muted">Web Designer</h6>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
      </div>
      <div class="card-footer">
        <a href="#">name@example.com</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
</div>
{% endblock %}
